<div class="d-flex flex-column vh-100 justify-content-center align-items-center">
    <div class="d-flex flex-column flex-md-row align-items-center">
        <div class="logos d-flex align-items-center m-5">
            <div class="d-flex flex-column mr-2">
                <img class="p-1"
                     src="assets/img/ts.png" />
                <img class="p-1"
                     src="assets/img/angular.png" />
            </div>
            <div class="d-flex flex-column">
                <img class="p-1"
                     src="assets/img/ngrx.svg" />
                <img class="p-1"
                     src="assets/img/nestjs.png" />
            </div>
        </div>
        <form class="border p-4 rounded">
            <h4 class="mb-3">Concepts App</h4>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control"
                       type="text" />
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control"
                       type="password" />
            </div>

            <div class="d-flex flex-column">
                <button class="btn btn-primary"
                        type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>